[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = ">=1, <2"
psycopg2 = ">=2, <3"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"

[scripts]
tests = "bash -c 'python -m unittest tests/*_test_case.py'"
db-migrate = "alembic upgrade head"
